/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* yhte */
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
  color: #424242;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Microsoft YaHei UI", "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
  font-weight: 500;
}

.yhte-ico-primary{
  color: #3276B1;
}
.yhte-ico-success{
  color: #47A447; 
}
.yhte-ico-danger-bright {
  color: #f00;
}
.yhte-ico-success-bright{
  color: #0f0; 
}
.yhte-ico-info{
  color: #39B3D7;
}
.yhte-ico-warning{
  color: #F0AD4E;
}
.yhte-ico-danger{
  color: #D2321D;
}
.yhte-ico-grey{
  color: #DDD;
}

div[ng-view] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
}

div[ng-view].default {
  position: static;
  margin-top: 30px;
}

div[ng-view] .auto-height, .fg-map{
  height: 100%;
  padding-top: 15px ;
}

/*fg-notification-center*/
div[fg-notification-center] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 1000;
  overflow: scroll;
  background-color: #333;
  font-family: tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
}

.fg-notification-center-header {
  text-align: center;
  color: #fff;
}

/*widget*/
.widget .widget-title {
  background-color: #222;
  color: #aaa;
  padding: 5px 10px;
  font-size: 11px;
  height: 27px;
}

.widget .widget-body {
  padding: 10px 0 10px 35px;
  color: #eee;
  font-size: 13px;
}

.widget .widget-body .list-item {
  margin: 0;
  padding: 6px 0;
}

.widget .widget-body .top-divider {
  border-top: solid #555 1px;
}

ul.messenger.messenger-fixed.messenger-on-top {
  top: 50px;
}

ul.messenger.messenger-fixed.messenger-on-top.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-bottom.messenger-on-right{
  right: 0;
}

.widget-body .jstree-node {
  border-bottom: solid 1px #555;
}

.widget-body .jstree-last{
  border-bottom: none;
}

.widget-body .jstree-default .jstree-clicked {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.widget-body .jstree-default .jstree-hovered {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

