<!-- 工具栏 -->
<legend>违法信息</legend>
<div class="row"  style="margin:15px 0px">
  <div class="col-sm-4">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-sm btn-danger" ng-click="removeAll()"><i class="fa fa-times"> 清空列表</i></a>
      <a class="btn btn-sm btn-warning" ng-click="removePart()"><i class="fa fa-minus"> 移除</i></a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="col-sm-11">
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">驾驶证号</span>
          <input class="form-control input-sm" ng-model="Q.jszh" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon">决定书编号</span>
          <input class="form-control input-sm" ng-model="Q.jdsbh" />
        </div>
      </div>
    </div>
    <a class="btn btn-sm btn-primary pull-right" ng-click="query()"><i class="fa fa-search"> 查询</i></a>
  </div>
</div>
<div class="row" style="margin:15px 0px">
  <div class="col-sm-12">
    <div class="alert alert-success" role="alert">
      <span style="margin-right:30px">罚款金额：{{fk}}</span>
      <span style="margin-right:30px">滞纳金：{{zn}}</span>
      <span>  总金额:{{total}}</span>
    </div>
  </div>
</div>
<div class="row" id="tabContent"  style="margin:15px 0px">
  <div class="col-sm-12">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th class="check"><input type="checkbox" ng-model="allChecked" ng-click="selectAll();"></th>
          <th></th>
          <th>序号</th>
          <th>数据来源</th>
          <th>决定书</th>
          <th>号牌号码</th>
          <th>号牌种类</th>
          <th>违法行为</th>
          <th>违法地点</th>
          <th>违法时间</th>
          <th>处理时间</th>
          <th>罚款金额</th>
          <th>滞纳金</th>
          <th>缴款标志</th>
          <th>收费</th>
          <th>打印票据</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in records">
          <td class="check"><input type="checkbox" ng-model="checks[$index]" ng-click="select($index);"></td>
          <td style="text-align:center;width:15px" ng-click="removePart(record)"><i class="fa fa-minus-circle"></i></td>
          <td>{{$index+1}}</td>  
          <td>{{record.xxly}}</td>
          <td>{{record.jdsbh}}</td>
          <td>{{record.hphm}}</td>
          <td>{{record.hpzl}}</td>
          <td>{{record.wfxw}}</td>
          <td>{{record.wfdz}}</td>
          <td>{{record.wfsj | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{record.clsj | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{record.fkje}}</td>
          <td>{{record.znj}}</td>
          <td>{{record.jkbj}}</td> 
          <td style="text-align:center"><i class="fa fa-money yhte-ico-success" ng-click="confirmModal(record)"> </i></td>
          <td style="text-align:center">
            <i class="fa fa-print yhte-ico-priamry" ng-click="print(record)" ng-show="record.jkbj = '1'"> </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<!--   <div class="col-sm-12">
    <div pagination class="pagination-sm pull-right" boundary-links="true" rotate="false" 
      total-items="total"
      page="" 
      items-per-page=""
      max-size="5"
      on-select-page="pChange(page)"
      previous-text="上一页"
      next-text="下一页"
      last-text="最后一页"
      first-text="最前一页">
    </div>
  </div> -->
</div>

<!-- 新增票据 -->
<div class="modal fade" id="conformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;">
      <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title"> 确认收费信息
            </h4>
        </div>
        <div class="modal-body">
          <div class="row marginLR0">
              <div class="col-sm-12">
                <p>
                  <span class="badge badge-primary">1</span>
                  <span style="margin-left:10px">核对用户票据 </span>
                  <span style="margin-left:10px">
                    <i class="fa fa-spinner yhte-ico-success" tooltip="正在查询" ng-show="billCheckI"></i>
                    <i class="fa fa-check yhte-ico-success" tooltip="成功" ng-show="billCheckS"></i>
                    <i class="fa fa-info-circle yhte-ico-danger" tooltip="失败"  ng-show="billCheckF"></i>
                  </span>
                </p>
                <p ng-show="account">
                  <span class="badge badge-primary">2</span>
                  <span style="margin-left:10px">银行对账 </span>
                  <span style="margin-left:10px">
                    <i class="fa fa-check yhte-ico-success" tooltip="成功" ng-show="accountCheckS"></i>
                    <i class="fa fa-info-circle yhte-ico-danger" tooltip="失败" ng-show="accountCheckF"></i>
                  </span>
                  <span>{{accountFailedInfo}}</span>
                </p>
              </div>
          </div>

          <div class="row" style="margin:15px 0px">
                <div class="input-group">
                  <span class="input-group-addon">票据编号</span>
                  <input type="text" class="form-control" ng-model="newBill.noteNo">
                </div>
          </div>

          <div class="row marginLR0">
            <table class="table table-condensed table-bordered" ng-model="newBill.noteNo">
              <tr><td style="width:100px">车牌号码</td><td>{{newBill.hphm}}</td>
                <td style="width:100px">号牌种类</td><td>{{newBill.hpzl}}</td>
              </tr>
              <tr><td>违法时间</td><td>{{newBill.wfsj | date:'yyyy-MM-dd HH:mm:ss'}}</td><td>违法地点</td><td>{{newBill.wfdd}}</td></tr>
              <tr><td>违法行为</td><td>{{newBill.wfxw}}</td><td>计分</td><td>{{newBill.wfjfs}}</td></tr>
              <tr><td>当事人</td><td>{{newBill.dsr}}</td><td>驾驶证号</td><td>{{newBill.jszh}}</td></tr>
              <tr><td>车主</td><td>{{newBill.jdcsyr}}</td><td>车型</td><td>{{newBill.clfl}}</td></tr>
              <tr><td>罚款金额</td><td>{{newBill.fkje}}</td><td>滞纳金</td><td>{{newBill.znj}}</td></tr>
              <tr><td>总金额</td><td>{{newBill.fkje + newBill.znj}}</td></tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group">
              <a class="btn btn-default btn-sm"  data-dismiss="modal">
              <i class="fa fa-time"> 关闭</i></a>
              <a class="btn btn-primary btn-sm" ng-click="confirm()">
                <i class="fa fa-check"></i> 银行对账
              </a>
              <a class="btn btn-success btn-sm" ng-click="print(newBill)" ng-show="rePrint">
                <i class="fa fa-print"></i> 重新打印
              </a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
