<div fg-map></div>
<div fg-notification-center class="auto-height">

  <div class="widget" 
    ng-switch on="videoWidget.viewStack">
    <div class="widget-title">
      视频列表
      <div class="pull-right">
        <span 
          ng-switch-when="tree" 
          ng-click="videoWidget.viewStack='list'">
          编辑
        </span>
        <span 
          ng-switch-when="list"
          ng-click="videoWidget.viewStack='tree'">
          完成
        </span>
        <span 
          ng-switch-when="new"
          ng-click="videoWidget.viewStack='list'">
          取消
        </span>
      </div>
    </div>
    <div class="widget-body" style="padding-left:10px;" >
      <!-- tree view -->
      <div fg-jstree ng-model="model" node="record.node" selected="record.nodes" ng-switch-when="tree">
      </div>
      
      <!-- table view -->
      <table style="width: 100%;" ng-switch-when="list">
        <tbody>
          <tr ng-repeat="group in groups">
            <td style="width: 25px; text-align: center;">
              <!-- 删除分组 -->
              <i class="fa fa-minus-circle yhte-ico-danger-bright"
                style="font-size: 1.2em;" 
                ng-if="$last" 
                ng-click="deleteGroup(group);"></i>
            </td>
            <td>
              <!-- 第一个 item 不显示 border-top -->
              <p class="list-item" ng-class="{'top-divider':!$first}">{{group.text}}</p>
            </td>
          </tr>
          <tr>
            <td  style="width: 25px; text-align: center;padding-top:3px;">
              <i class="fa fa-plus-circle yhte-ico-success-bright" style="font-size: 1.2em;"></i>
            </td>
            <td>
              <!-- item 个数大于 0 时才显示 border-top -->
              <p class="list-item" ng-class="{'top-divider': groups.length>0}" style="font-size: 12px;color:#aaa;" ng-click="videoWidget.viewStack='new'">添加</p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- form view -->
      <div style="padding:0 0 0 25px;" ng-switch-when="new">
        <p style="font-size: 8px;color: #aaa;">输入分组名称</p>
        <div style="padding-right:35px;margin-bottom: 8px;">
          <input type="text" placeholder="名称" ng-model="group.name"
          style="background-color: #444;border: solid 1px #555;width:100%;padding: 0 20px;border-radius: 3px;" ng-keypress="addGroup($event);">  
        </div>
        <p style="font-size: 10px;color: #aaa;padding: 3px 0;">不能为空，按「回车」确认。</p>
      </div>

    </div>
  </div>

</div>