<div class="col-sm-12 auto-height">
  <legend>视频分组</legend>

  <div class="row">
    <div class="col-sm-3" style="margin-bottom: 15px;">
      <div class="btn-group">
        <button class="btn btn-success btn-sm">添加</button>
        <button class="btn btn-danger btn-sm">添加</button>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-condensed">
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性质</th>
          <th>类型</th>
          <th>云台</th>
          <th>位置</th>
        </tr>
        <tr>
          <td>001</td>
          <td>视频1</td>
          <td>-</td>
          <td>普通视频</td>
          <td><i class="fa fa-check-circle yhte-ico-success"></i></td>
          <td><i class="fa fa-location-arrow"></i> 泰山路</td>
        </tr>
        <tr>
          <td>002</td>
          <td>视频2</td>
          <td>-</td>
          <td>督查视频</td>
          <td><i class="fa fa-check-circle yhte-ico-success"></i></td>
          <td><i class="fa fa-location-arrow"></i> 滨河路</td>
        </tr>
      </table>
    </div>
  </div>

</div>