<div>
  <div class="navbar navbar-fixed-top navbar-default" role="navigation" id="id-navbar-toggle">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">导航开关</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#">{{title}}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="menu" class="nav navbar-nav">
          <li class="dropdown" ng-repeat="menu in menus">
            <a ng-href="{{menu.path}}" class="menu pointer" data-toggle="dropdown">{{menu.menuName}}
              <b class="caret" ng-if="menu.children.length > 0"></b>
            </a>
            <ul class="dropdown-menu" ng-if="menu.children.length > 0">
              <li ng-repeat="i in menu.children" class="dropdown-submenu">
                <a ng-href="{{i.path}}" ng-click="changeSwitchMenu(i.menuName);">
                  {{i.menuName}}
                    <i class="fa fa-sort-down fa-rotate-270" ng-if="i.show"></i>
                </a>
                <ul class="dropdown-menu" ng-if="i.show">
                  <li ng-repeat="a in i.children" ng-class = "{'divider': !a.path} ">
                    <a ng-href="{{a.path}}" ng-if="a.path" ng-click="changeSwitchMenu(i.menuName);">{{a.menuName}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a ng-href="#" ng-hide="authed">登录</a></li>
          <li>
            <a ng-show="authed">
                <span class="glyphicon glyphicon-user" title="{{username}}"></span>
            </a>
          </li>
          <li>
            <a style="cursor: pointer;" ng-click="logout();" ng-show="authed" tooltip="注销">
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
          </li> -->
          <li id="id-navbar-toggle">
            <a style="cursor: pointer;" fg-event="fgNotificationCenter:toggle">
              <i class="fa fa-list"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a style="z-index: 1000; position: absolute; top: 0; left: 50%; height: 32px; width: 32px; cursor: pointer; font-size: 20px; color: black;" 
  fg-event="toggleNavbar">
    <i class="fa fa-angle-double-down"></i>
  </a>
</div>